{% extends "base.html"%}
{%block content%}
<p>
    Тема: {{topic.id}}
</p>
<p>
    Записи по теме:
</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>{{entry.date_added|date:'M d, Y H:i'}}</p>
        <p>{{entry.text|linebreaks}}</p>
        <p>
            <a href="{% url 'note_app:edit_entry' entry.id %}">Редактировать запись</a>
        </p>
    </li>
    {%empty%}
    <H1>Записей по данной теме нет</H1>
    {% endfor %}
</ul>
<a href="{% url 'note_app:new_entry' topic.id %}">Добавить новую запись</a>
{% endblock content %}